<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osk.team.dao.ClubDao">

  <resultMap id="clubMap" type="club">
    <id column="cno" property="no"/>
    <result column="carrive" property="arrive"/>
    <result column="ctheme" property="theme"/>
    <result column="ctitle" property="title"/>
    <result column="ccontent" property="content"/>
    <result column="csdt" property="startDate"/>
    <result column="cedt" property="endDate"/>
    <result column="ctotal" property="total"/>

    <association property="writer" javaType="member">
      <id column="writer_no" property="no"/>
      <result column="writer_name" property="name"/>
    </association>

  </resultMap>

  <!-- >클럽 게시판에 클럽 삽입<-->
   <insert id="insert" parameterType="club">
     insert into club(cno, mno, carrive, ctheme, ctitle, ccontent, csdt, cedt, ctotal)
     values (#{no}, #{writer.no}, #{arrive}, #{theme}, #{title}, #{content}, #{startDate}, #{endDate}, #{total})
  </insert>

  <select id="findByKeyword" resultMap="clubMap" parameterType="string">
    select
    c.cno,
    c.carrive,
    c.ctitle,
    c.ccontent,
    c.ctheme,
    c.csdt,
    c.cedt,
    c.ctotal,
    m.mno as writer_no,
    m.mname as writer_name
    from club c
    inner join member m on m.mno=c.cno

    <if test="value != null">
      where
      c.carrive like concat('%', #{value},'%')
      or c.csdt like concat('%', #{value},'%')
      or c.cedt like concat('%', #{value},'%')
      or c.ctheme like concat('%', #{value},'%')
    </if>
    order by c.cno desc
  </select>

  <select id="findByNo" resultMap="clubMap" parameterType="int">
    select
      c.cno,
      c.carrive,
      c.ctitle,
      c.ccontent,
      c.ctheme,
      c.csdt,
      c.cedt,
      c.ctotal,
      m.mno as writer_no,
      m.mname as writer_name
    from club c
           inner join member m on m.mno=c.cno
    where c.cno = #{value}
  </select>

  <update id="update" parameterType="club">
    update club
    set ctitle   = #{ctitle},
        ccontent = #{ccontent}
    where cno = #{no}
  </update>

  <delete id="delete" parameterType="int">
    delete from club
    where cno = #{value}
  </delete>

</mapper>







